    @import 'reset';
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
    html,
    body {
        height: 100%;
        font-family: 'Montserrat', sans-serif;
        scroll-padding-top: 110px;
    }
    
    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
    
    .main {
        flex: 1 0 auto;
        margin-top: 100px;
    }
    
    .footer {
        flex: 0 0 auto;
    }
    
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    }
    
    // Header
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 100%;
        position: fixed;
        padding: 0 40px;
        background-color: lightcyan;
        z-index: 2;

        @media screen and (max-width: 950px) {
            padding: 0 10px;
        }
    }
    
    .header-img {
        border-radius: 5px;
        transition: background-color .3s;
        min-width: 200px;
        height: auto;
        &:hover {
            background-color: rgba(173, 216, 230, 0.7);
        }
    }
    
    .menu {
        // .menu__list
        &__list {
            z-index: 0;
            display: flex;
            flex-direction: row;
            gap: 40px;

            @media screen and (max-width: 950px) {
                gap: 10px;
            }
        }
        // .menu__list-item
        &__list-item {}

        
    }
    
    .nav-link {
        padding: 10px 20px;
        border-radius: 5px;
        color: #2d4f9e;
        font-weight: 600;
        background-color: rgba(173, 216, 230, 0.3);
        transition: background-color .3s;
        &:hover {
            background-color: rgba(173, 216, 230, 0.7);
        }
    }
    
    // Main
    .character {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 20px;

        // .character__title
        &__title {
            grid-column: 1 / -1;
            color: #2d4f9e;
            font-size: 36px;
        }
        // .character__img
        &__img {
            @media screen and (max-width: 800px) {
                grid-column: 1 / -1;
            }
        }
        // .character__spec
        &__spec {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 2px;
                height: 80%;
                left: -20%;
                top: 10%;
                border: 2px #2d4f9e solid;
                border-radius: 3px;
            }

            @media screen and (max-width: 800px) {
                &::before {
                    height: 2px;
                    width: 80%;
                    top: -10%;
                    left: 10%;
                }

                &::after {
                    content: "";
                position: absolute;
                    height: 2px;
                    width: 80%;
                
                    left: 10%;
                    border: 2px #2d4f9e solid;
                border-radius: 3px;
                }
            }
        }
        // .character__spec-title
        &__spec-title {
            margin-bottom: 10px;
            @media screen and (max-width: 800px) {
                margin: 10px auto;
                display: block;
                width: fit-content;
            }
        }
        // .character__text
        &__text {
            grid-column: 1 / -1;
        }
    }
    
    .specs {
        // .specs__list
        &__list {
            margin-bottom: 20px;
            @media screen and (max-width: 800px) {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;
            }
        }
        // .specs__list-item
        &__list-item {}

        
    }

    .features {
		// .features__section-title

		&__section-title {
		}

		// .features__section-text

		&__section-text {
            margin-bottom: 20px;
		}
    }

    .features {

		// .features__section

		&__section {
		}

		// .features__section-title

		&__section-title {
		}

		// .features__section-text

		&__section-text {
		}
}
.price {

    // .price__section

    &__section {
    }

    // .price__section-title

    &__section-title {
    }

    // .price__card-container

    &__card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

    // .price__card

    &__card {
        border: 2px #2d4f9e solid;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    // .price__card-title

    &__card-title {
        color: #2d4f9e;
    }

    // .price__card-shop

    &__card-shop {
        display: block;
        margin: auto;
        width: fit-content;
    }

    // .price__card-link

    &__card-link {
    }

    // .price__card-img

    &__card-img {
        margin:auto
    }

    // .price__card-cost

    &__card-cost {
        display: block;
        margin-left: auto;
        width: fit-content;
    }
}



    .review {

		// .review__section

		&__section {
		}

		// .review__section-title

		&__section-title {
		}

		// .review__section-video

		&__section-video {
            display: block;
            margin: 20px auto;
		}
    }


    
    // Footer
    .footer {
        background-color: #d0f3f7;
        padding: 20px 40px;

        &-title {
            color: #2d4f9e;
            margin-bottom: 10px;
            padding-left: 20px;
        }
    }
    
    .form {
        // .form__input-email
        &__input-email {
            border: 1px lightcyan solid;
            outline-color: #2d4f9e;
            border-radius: 5px;
            padding: 9px;
            transition: border .3s;
            &:hover {
                border: 1px #2d4f9e solid;
            }
        }
        // .form__btn-submit
        &__btn-submit {
            border: none;
            border-radius: 5px;
            color: #2d4f9e;
            font-weight: 600;
            background-color: rgba(173, 216, 230, 0.3);
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color .3s;
            &:hover {
                background-color: rgba(173, 216, 230, 0.7);
            }
        }
    }

    h2 {
        margin: 20px auto;
        background-color: lightcyan;
        display: block;
        width: fit-content;
        padding: 10px 30px;
        color: #2d4f9e;
        position: relative;

        &::before {
            content: "";
                position: absolute;
                    height: 2px;
                    width: 100%;
                    top: 50%;
                    left: -100%;
                    border: 2px lightcyan solid;
                border-radius: 3px;
        }

        &::after {
            content: "";
                position: absolute;
                    height: 2px;
                    width: 100%;
                    top: 50%;
                    right: -100%;
                    border: 2px lightcyan solid;
                border-radius: 3px;
        }
    }

    